<h1>Users#dashboard</h1>
<% if current_user %>
  <%= link_to "favorite",   favorite_book_path(@book, type: "favorite"), method: :put %>
  <%= link_to "unfavorite", favorite_book_path(@book, type: "unfavorite"), method: :put %>
<% end %>
