<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


   <nav class="navbar navbar-default  ">
   <div class="container bg ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-left ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#category-dropdown" aria-expanded="false">
        <span class="sr-only">Category</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="#">BestBooksEver</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="category-dropdown">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Physcology</a></li>
            <li><a href="#">Philosophy</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Physcology</a></li>
            
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recommended By <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Elon Musk</a></li>
            <li><a href="#">Peter Theil</a></li>
            <li><a href="#">Steve Jobs</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Bill Gates</a></li>
          </ul>
        </li>
        </ul>
      
        
         
        <ul class="navbar-header pull-right sign_in " data-toggle="modal" data-target="#loginModal">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
             
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login </h4>
            </div>
            <div class="modal-body">

         <form class="form-inline" role="form">
  <div class="form-group">
      <input type="email" class="form-control" placeholder="E-mail">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
  </div>
                <div class="form-group">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default btn-info">Submit</button>
</form>

            </div>
        </div>
        </div>
    </div>
